.box,
.box-header,
.box-body,
.box-footer {
display : block;
}

.box {
  @include shadow(0.25);
  position : absolute;
  bottom : 0;
  right : 0;
  margin : 0 15px;
  width : 600px;
  height : 545px;
  overflow : hidden;

  .box-header {
    background: #005da4;
    color : #fff;
    overflow : hidden;
    padding : 0 15px;
    height : 36px;
    margin : 0;
    display : block;

    .box-title {
      font-family: Arial;
      font-style: italic;
      font-weight : normal;
      font-size : 18px;
      vertical-align: bottom;;
      display: inline-block;
      margin : 0;
      padding : 6px 0;
    }

    .box-actions {
      margin-top: 2px;
      display: flex;
      float : right;
      overflow : hidden;
      a {
        margin : 5px;
      }
    }
  }

  .box-body {
    height : 380px;
    overflow-y : auto;
    margin : 15px;
  }

  .box-footer {
    border-top : 1px solid #eee;
    display: block;
    padding : 0;
    margin : 0;
    position : relative;
    .actions {
      float : right;
      width : 34px;
      height : 68px;
      position : absolute;
      right : 16px;
      top : 16px;
      a {
        background : #eee;
        width : 100%;
        height : 34px;
        display : block;

        &.send {
          background : blue;
        }
        &.clear {
          background : #ccc;
        }
      }
    }
  }

  &.box-closed {
    height : 38px;
    .box-body ,
    .box-footer {
      display : none;
    }
  }

}
