.icon {
  background-image : url('/static/imgs/sprite.png');
  width : 18px;
  height: 18px;
  display : inline-block;

  &.minimize {
    background-position: 0 0;
  }

  &.close {
    background-position: -18px 0;
  }

  &.resize {
    background-position: -36px 0;
  }

  &.send {
    background-position: -54px 0;
  }

  &.trash {
    background-position : -72px 0;
  }

  &.sending {
    background-position: -90px 0;
  }

  &.sent {
    background-position: -108px 0;
  }

}
