<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Teste - Catho Front-end</title>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body>

    <div class="box box-chat">
      <div class="box-header">
        <h1 class="box-title">Vaga: Desenvolvedor Front-end</h1>
        <div class="box-actions">
          <a href="#" class="icon resize"></a>
          <a href="#" class="icon maximize"></a>
          <a href="#" class="icon close"></a>
        </div>
      </div>
      <div class="box-body">

        <span class="break"></span>
        <img src="/static/imgs/user-1439505.jpg" alt="" class="avatar not-you">
        <div class="msg not-you">
          <div class="about">
            <span class="username">Você</span>
            <strong class="companyname">Empresa</strong>
            <span class="time">enviado as 18h28</span>
          </div>
          <div class="text">Claro. A Catho fica próximo ao shopping Tamboré, ao lado do prédio da Engevix.</div>
        </div>

        <span class="break"></span>
        <img src="/static/imgs/user-9483484.jpg" alt="" class="avatar you">
        <div class="msg you">
          <div class="text">Claro Renata, amanhã estarei por ai.
            <span class="status"><i class="sent icon"></i></span>
          </div>
          <div class="about">
            <span class="username">Você</span>
            <span class="time">enviado as 18h28</span>
          </div>
        </div>

        <div class="msg you">
          <div class="text">Você pode me passar um ponto de referência por favor?
            <span class="status"><i class="sent icon"></i></span>
          </div>
          <div class="about">
            <span class="time">enviado as 18h28</span>
          </div>
        </div>

        <span class="break"></span>
        <img src="/static/imgs/user-1439505.jpg" alt="" class="avatar not-you">
        <div class="msg not-you">
          <div class="about">
            <span class="username">Você</span>
            <strong class="companyname">Empresa</strong>
            <span class="time">enviado as 18h28</span>
          </div>
          <div class="text">Claro. A Catho fica próximo ao shopping Tamboré, ao lado do prédio da Engevix.</div>
        </div>

        <span class="break"></span>
        <img src="/static/imgs/user-9483484.jpg" alt="" class="avatar you">
        <div class="msg you">
          <div class="text">Ótimo! Muito obrigado! <br/>
            Amanhã estarei por ai
            <span class="status"><i class="sending icon"></i></span>
          </div>
          <div class="about">
            <span class="username">Você</span>
            <span class="time">enviado a poucos segundos</span>
          </div>
        </div>

      </div>
      <div class="box-footer">
        <div class="actions">
          <a href="" class="send"><i class="icon send"></i></a>
          <a href="" class="clear"><i class="icon trash"></i></a>
        </div>
        <textarea placeholder="Digite aqui sua mensagem..." name="msg" rows="4" cols="40"></textarea>
      </div>
    </div>
  </body>
</html>
