<!DOCTYPE html>
<html lang="en" ng-app="chatCatho">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Teste - Catho Front-end</title>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body>


    <div class="box box-chat {{ box_class }}" ng-controller="ChatBox">
      <div class="box-header">
        <h1 class="box-title">Vaga: Desenvolvedor Front-end</h1>
        <div class="box-actions">
          <a href="#" class="resize"   ng-click="minimize()"><i class="icon minimize"></i></a>
          <a href="#" class="maximize" ng-click="resize()"><i class="icon resize"></i></a>
          <a href="#" class="close"    ng-click="close()"><i class="icon close"></i></a>
        </div>
      </div>

      <div class="box-body" ng-controller="MessageListCtrl" scroll-glue>
        <span ng-repeat="talk in talks track by $index">
          <div ng-if="($index==0) || ($index > 0 && talks[$index-1].user.id != talk.user.id)">
            <span class="break" />
            <img src="/static/imgs/user-{{talk.user.id}}.jpg" alt="" class="avatar {{ css_message(talk.user) }}">
          </div>
          <div class="msg {{ css_message(talk.user) }}">
            <div class="text">{{ talk.message.message }}</div>
            <span class="status" ng-if="talk.user.id == user.id && talk.message.alreadyRead"><i class="sent icon"></i></span>
            <span class="status" ng-if="talk.user.id == user.id && !talk.message.alreadyRead"><i class="sending icon"></i></span>
            <div class="about">
              <span class="username">{{ talk.user.name }}</span>
              <strong class="companyname" ng-if="talk.company.name">{{ talk.company.name }}</strong>
              <span class="time">enviado as {{ talk.message.time | fromNow }}</span>
            </div>
          </div>
        </span>
      </div>

      <div class="msg-form" ng-controller="MesssageForm">
        <div class="actions {{ form_action_class }}">
          <a ng-click="sendMessage()" class="send"><i class="icon send"></i></a>
          <a ng-click="clearMessage()" class="clear"><i class="icon trash"></i></a>
        </div>
        <textarea id="TextAreaMesssageForm" ng-attr-placeholder="{{ placeholder }}" ng-change="textChange()" ng-model="text_message" rows="4" cols="40">{{ text_message }}</textarea>
      </div>
    </div>
    <!-- Scripts -->
    <script src="/static/js/vendor.js"></script>
    <script src="/static/js/chat.js"></script>

  </body>
</html>
