<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Teste - Catho Front-end</title>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/static/css/site-catho.css">
    <link rel="stylesheet" href="/static/css/main.css" />

  </head>
  <body>
    <header id="top" class="header b2c">
      <div class="containerTopoMenu simpleHeader">
        <div class="containerResponsive linkGenerico">
          <a class="logoHeader logoCatho hiddenText" href="http://www.catho.com.br/">Catho</a>
          <div class="actionsEntrar">
            <a href="javascript:void(0);" class="btnLogin" id="btnLogin">Login</a>
          </div>
        </div>
      </div>
    </header>


  <div id="chatCatho"></div>
    <footer id="bottom" class="footer b2c">
      <div class="bottomBarContainer b2c">
        <div class="bottomBar container clearfix">
          <span class="logoCathoFooter hiddenText">Catho</span>
          <p>
            <span class="razaoSocial">Catho Online Ltda.</span>
            <span class="cnpj">CNPJ: 03.753.088/0001-00</span>
            <span class="address">Alameda Juari, 262 - Barueri, SP - 06460-090</span>
            <span class="politica">
              <a rel="nofollow" target="_blank" href="http://www.catho.com.br/institucional/privacidade-relacionamento/">Política de Privacidade</a>
            </span>
          </p>
        </div>
      </div>
    </footer>
  <!-- Scripts -->
  <script src="/static/js/init.js" type="text/javascript"></script>

  </body>
</html>
